<section class="spinner-2" style="display:none">
  <div class="spinner"></div>
</section>
<h1>Intenta Tuitear</h1>
<div id="caja">
  <form method="get" action="/sign_in"> <!-- action="/log" -->
    <!-- <layer style="font-size: 20px;font-weight: bold;color:white">Escribe tu usuario(@ejemplo):</layer> -->

    <!-- <input type="text" name="userName" placeholder="Ingresa tu usuario">
    <br> -->
    <input type="submit" class="boton" value="Hacer login">
  </form>
</div>
<br><br><br>

<!-- :::::: Modal :::::: -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <h1>Aviso!</h1>
    <h2>No dejes esta caja vacia</h2>
  </div>

</div>